<section class="event-list">
  <div class="hero-container">
    <div class="event-discription">
      <h1 class="event-title">
        Learn to Cook
        <span class="tasry-treads">Tasty Treats'</span> Customizable Masterclass
      </h1>
      <p class="event-text">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <a href="tel:+380730000000" class="event-order order-btn">Order now</a>
    </div>

    <div class="hero-slider">
      <div class="swiper">
        <span class="loader" style="width: 100%"></span>
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination" id="hero-swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
