<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="body">
    <section class="modal-window">
      <h2 class="modal-title">Order now</h2>
      <svg class="svg-close">
        <use></use>
      </svg>
      <form class="form-modal">
        <label>
          Name
          <input class="input name" type="text" placeholder="Jacob Mercer" />
        </label>
        <label>
          Phone number
          <input
            class="input phone-number"
            type="text"
            placeholder="+380631234567"
          />
        </label>
        <label>
          Email
          <input
            class="input email"
            type="text"
            placeholder="example@gmail.com"
          />
        </label>
        <label>
          <textarea
            class="textarea comment"
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Enter you comment"
          ></textarea>
        </label>
        <button class="submit-btn" type="submit">Send</button>
      </form>
    </section>
  </body>
</html>
