<div class="backdrop is-hidden" data-modal-recipe>
  <div class="modal-recipe">
    <button type="button" class="close-btn js-modal-close">
      <svg class="modal-icon-close" width="20" height="20">
        <use href="./images/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="recipe-markup"></div>
    <div class="modal-btn-active">
      <button type="button" class="add-favorite-btn">Add to favorite</button>
      <button type="button" class="rating-btn">Give a rating</button>
    </div>
  </div>
</div>


