<section class="section section-pages-btn">
  <div class="pagination-pages">
    <div class="nav-btn">
      <button class="to-start" type="button">
        <svg class="nav-icon start-1">
          <use href="/src/images/sprite.svg#icon-left"></use>
        </svg>
        <svg class="nav-icon start-2">
          <use href="/src/images/sprite.svg#icon-left"></use>
        </svg>
      </button>
      <button class="preview-page" type="button">
        <svg class="nav-icon">
          <use href="/src/images/sprite.svg#icon-left"></use>
        </svg>
      </button>
    </div>

    <div class="page-numbers"></div>

    <div class="nav-btn">
      <button class="next-page" type="button">
        <svg class="nav-icon">
          <use href="/src/images/sprite.svg#icon-right"></use>
        </svg>
      </button>
      <button class="to-end" type="button">
        <svg class="nav-icon end-1">
          <use href="/src/images/sprite.svg#icon-right"></use>
        </svg>
        <svg class="nav-icon end-2">
          <use href="/src/images/sprite.svg#icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
