<section class="section">
    <form class="filter-form" id="filter-form">
        <ul class="filter-form-list">
            <li class="filter-form-item">
                <label class="filter-form-label">
                    Search
                    <div class="search-area">
                        <svg class="search-icon" >
                            <use
                              href="./images/icons/sprite.svg#search-icon"
                            ></use>
                        </svg>
                        <input
                        class="search-input"
                        type="text"
                        name="searchQuery"
                        autocomplete="off"
                        placeholder="Enter Text"
                        />
                    </div>
                </label>
            </li>
            <li class="filter-form-item">

            </li>
        </ul>
    </form>
    <div class="recipes-container">
        <ul class="resipes-list">
            
        </ul>
    </div>
</section>