#categories{
    width: 235px;
 height: 416px;
 overflow: scroll;
}
#categories li{
    padding-bottom: 24px;

}
#categories  button{
   height: 100%;
      width: 100%;
   font-size: 16px;
   background: none;
   border: none;
   color: rgba(5, 5, 5, 0.3);

    text-align: left;

    display: block;
}




#categories .active{
    color:var(--btn-color);
}
.categorBt{
    padding:14px 28px;
    margin-bottom: 42px;
    border-radius: 15px;
    background: none;
    border-color: rgba(5, 5, 5, 0.2);
    color: rgba(5, 5, 5, 0.5);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;

    
}
.categorBt:hover{
background-color: var(--btn-color);
color: var(--secondary-color);
}
