/* Dark theme*/

/** Body **/

body.dark-theme {
  background-color: var(--main-color);
}

/** Header **/

.dark-theme .logo-second {
  color: var(--dark-theme-color-text);
}

.dark-theme .header-nav-links {
  color: var(--dark-theme-color-text);
}

.dark-theme .shopping-icon-use {
  fill: var(--main-color);
  stroke: var(--dark-theme-color-text);
}

.dark-theme .mobile-menu-icon {
  stroke: var(--dark-theme-color-text);
}

.dark-theme .mobile-menu {
  background-color: var(--main-color);
}

/** Hero **/

.dark-theme .event-title {
  color: var(--dark-theme-color-text);
}

.dark-theme .event-text {
  color: var(--dark-theme-color-text);
}

.dark-theme .event-order {
  background-color: transparent;
  color: var(--dark-theme-color-text);
}

.dark-theme .modal-window {
  background-color: var(--main-color);
}

.dark-theme .modal-title {
  color: var(--dark-theme-color-text);
}

.dark-theme .form-modal {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .input {
  background-color: transparent;
  color: var(--dark-theme-color-text);
}

.dark-theme .comment {
  background-color: transparent;
  color: var(--dark-theme-color-text);
}

/** All categories **/

/** Popular recipes **/

.dark-theme .popular-recipes-heading {
  color: var(--dark-theme-color-text);
}

.dark-theme .recip-heading {
  color: var(--dark-theme-color-text);
}

.dark-theme .recip-short-descr {
  color: var(--dark-theme-color-text);
}

/** Scroll to top **/

.dark-theme .btn-up {
  fill: var(--dark-theme-color-text);
}

/** Favorites **/
