/* Dark theme*/

/** Body **/

body.dark-theme {
  background-color: var(--main-color);
}

/** Header **/

.dark-theme .logo-second {
  color: var(--dark-theme-color-text);
}

.dark-theme .header-nav-links {
  color: var(--dark-theme-color-text);
}

.dark-theme .shopping-icon-use {
  fill: var(--main-color);
  stroke: var(--dark-theme-color-text);
}

.dark-theme .mobile-menu-icon {
  stroke: var(--dark-theme-color-text);
}

.dark-theme .mobile-menu {
  background-color: var(--main-color);
}

/** Hero **/

.dark-theme .event-title {
  color: var(--dark-theme-color-text);
}

.dark-theme .event-text {
  color: var(--dark-theme-color-text);
}

.dark-theme .event-order {
  background-color: transparent;
  color: var(--dark-theme-color-text);
}

.dark-theme .swiper-pagination-bullet {
  background-color: var(--dark-theme-color-text) !important;
}

.hero-slider .swiper-pagination-bullet-active {
  background-color: var(--btn-color) !important;
}


.dark-theme .modal-window {
  background-color: var(--main-color);
}

.dark-theme .modal-title {
  color: var(--dark-theme-color-text);
}

.dark-theme .form-modal {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .input {
  background-color: transparent;
  color: var(--dark-theme-color-text);
}

.dark-theme .input,
.dark-theme .select,
.dark-theme .search-icon,
.dark-theme .filter-form-label,
.dark-theme .filter-form-label-time,
.dark-theme .filter-form-label-area,
.dark-theme .filter-form-label-ingredients {
  color: var(--dark-theme-color-label-text);
  fill: var(--dark-theme-color-label-text);
}

.dark-theme .search-area,
.dark-theme .select {
  border-color: var(--dark-theme-color-label-text);
}

.dark-theme .comment {
  background-color: transparent;
  color: var(--dark-theme-color-text);
}

/** All categories **/

/** Scroll to top **/

.dark-theme .btn-up {
  fill: var(--dark-theme-color-text);
}

/** Favorites **/
