/* Main Styles */
:root {
    /* --green: #9BB537; */
    /* --black: #050505; */
    /* --background-w: #F8F8F8; */
    --gray-radiobtn-w: #CECDCD;
    --white: #ffffff;
    
    --trns-general: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --animate: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.container {
    max-width: 375px;
    margin: 0 auto;
}
.header{
    padding-top: 24px;
}
.navigation{
    display: none;
}

.navigation a {
    position: relative;
}
/* .navigation a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--btn-color); // Цвет полоски 
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out; 
}*/
.navigation a:hover::before,
.navigation a:focus::before {
  transform: scaleX(1);
}

.header-nav-links{
    color: var(--main-color);
    font-size: 12px;
    font-weight: 500;
    font-size: 12px;
    
}

.header-nav-links:hover,
.header-nav-links:focus{
    color: var(--btn-color);
    transition: var(--trns-general);
}

.btn-home{
    margin-right: 16px;
}

.logo-first {
    color: var(--btn-color);
    font-size: 16px;
    font-weight: 600;
    line-height: calc(18/16);
    letter-spacing: -0.64px;
}

.logo-second {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    line-height: calc(18/16);
    letter-spacing: -0.64px;
}

.header-items {
    display: flex;
    align-items: center;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: auto;
}

.header-order-btn{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.mob-menu-btn {
    background-color: white;
    border: none;
    padding: 0;
    margin: 0;
}

.mobile-menu-icon{
    stroke: var(--main-color);
}

/* Здесь была ошибка */

.header-switch {
    display: none;
}

@media screen and(min-width:768px) {
    .header-switch {
        position: relative;
        display: flex;
        width: 47px;
        height: 20px;
        border-radius: 10px;
        box-shadow: 7px 5px 15px 0px #A09EA066;
    }
}

  
  .header-switch input {
    display: none;
  }
  
  .header-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CECDCD;
    transition: 0.4s;
    border-radius: 34px;
    box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
}

.header-slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 2px;
    background-color: var(--secondary-color);
    transition: 0.4s; 
    border-radius: 50%;
  }
  
  .header-switch input:checked + .header-slider {
    background: linear-gradient(#9BB537, #9BB537);
    box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
  }
  
  .header-switch input:checked + .header-slider:before {
    box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
    transform: translateX(26px);
  }

/* Mobile Menu Styles */

.mobile-menu {
    background-color: var(---btn-color);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.mobile-menu.open {
    transform: translateX(0);
}

.mob-menu-btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.mob-menu-btn-close .mob-menu-close {
    transition: transform 0.3s ease-in-out;
}
.mob-menu-btn-close:hover {
    transform: rotate(45deg);
}
.mob-menu-btn-close:hover .mob-menu-close {
    transform: scale(1.2);
}

.mob-menu-close-icon{
    stroke: white;
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 200px;
    padding-bottom: 566px;
}

/*.header-list-item .main-page{
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
}*/

.header-list-item{
    color: var(--white-d);
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
}

.active-header-list-item{
    color: var(--main-color);
}

.switch {
    position: absolute;
    width: 46px;
    height: 20px;
    bottom: 30px;
    left: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CECDCD;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: var(--secondary-color);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background: var(--btn-color);
}

input:checked+.slider:before {
    transform: translateX(26px);
    box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
}

.current::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--btn-color);
}

.nav-link-active{
    color: var(--btn-color);
}

.shopping-icon-use{
    fill: var(--white-w);
    stroke: var(--main-color);
}

/*========= Media tablet =========*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .header {
        padding-top: 28px;
    }

    .navigation {
        display: inline;
        position: relative;
    }
    .logo-first {
        font-size: 18px;
        line-height: calc(20/18);
        letter-spacing: -0.72px;
    }
    .logo-second {
        font-size: 18px;
        line-height: calc(20/18);
        letter-spacing: -0.72px;
    }
    .header-items {
        justify-content: space-between;
    }
    .header-icons {
        margin-left: 0;
    }
    .mob-menu-btn {
        display: none;
    }
    .header-switch {
        position: relative;
        display: flex;
        width: 47px;
        height: 20px;
        border-radius: 10px;
        box-shadow: 7px 5px 15px 0px #A09EA066;
    }
    .mobile-menu {
        display: none;
    }
}

/*========= Media desktop =========*/

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1104px;
        padding: 0 12px;
    }

    .header {
        padding-top: 40px;
    }
}