@media screen and (max-width: 767px) {
  .event-list {
    padding: 88px 0 0 0;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .event-list {
    padding: 93px 0 0 0;
    margin-bottom: 80px;
  }
}

.event-list {
  padding-top: 91px;
  @media screen and (min-width: 768px) {
    padding-top: 93px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
    gap: 32px;
    min-width: 1280px;
    margin: 0 auto;
    padding: 0 0 0 100px;
  }
}

.event-discription {
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .event-discription {
    padding-right: 290px;
  }
}
@media screen and (min-width: 1280px) {
  .event-discription {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 0;
    width: 446px;
    height: 100%;
  }
}

.event-title {
  width: 335px;
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  width: 446px;
  font-size: 36px;
}

.tasry-treads {
  font-weight: 400;
}

.event-text {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .event-text {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.order-btn {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid var(--green);
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  background-color: var(--white-w);
  color: var(--black);

  &:hover,
  &:focus {
    background-color: var(--green);
    color: var(--white-w);
  }

  @media screen and (min-width: 768px) {
    padding: 14px 28px;
  }
}
