.popular-recipes-block {
  width: 332px;
}

.popular-recipes-heading {
  color: #050505;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/*.dark-mode .popular-recipes-heading {
  color: rgba(255, 255, 255, 1);
}*/

.popular-recipes-list .recip-item:nth-child(n + 3) {
  display: none;
}

.recip-item {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  cursor: pointer;
}

.recip-img {
  width: 64px;
  height: 64px;
  border-radius: 15%;
}

.recip-heading {
  color: #050505;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  text-transform: uppercase;
  margin-bottom: 8px;
}

/*.dark-mode .recip-heading {
  color: rgba(255, 255, 255, 1);
}*/

.recip-short-descr {
  overflow: hidden;
  color: rgba(5, 5, 5, 0.8);
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}

/*.dark-mode .recip-short-descr {
  color: rgba(255, 255, 255, 1);
}*/

@media screen and (min-width: 768px) {
  
  .popular-recipes-heading {
    width: 166px;
  }

  .popular-recipes-block {
    width: 166px;
  }

  .popular-recipes-list .recip-item:nth-child(n + 3) {
    display: flex;
  }

  .recip-item {
    width: 100%;
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .recip-img {
    width: 48px;
    height: 48px;
    border-radius: 15%;
  }

  .recip-short-descr {
    font-size: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .popular-recipes-heading {
    width: 221px;
    font-size: 24px;
    line-height: 1.16;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  .recip-item {
    width: 235px;
    margin-bottom: 32px;
  }

  .recip-short-descr {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.4;
  }
}