:root {
  --btn-color: #9bb537;
  --main-color: #161616;
  --secondary-color: #f8f8f8;
  --dark-theme-color-text: #fff;

  /* Text */
  --basic-font-family: 'Inter', sans-serif;
  --second-font-family: 'DM Sans', sans-serif;
  --third-font-family: 'Poppins', sans-serif;
}
