@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('./css/header.css');
@import url('./css/reset.css');
@import url('./css/hero.css');
@import url('./css/recipes-list.css');
@import url('./css/common.css');
@import url('./css/filter.css');
@import url('./css/modal.css');
@import url('./css/var.css');
@import url('./css/all_categori.css');
@import url('./css/popular-recipes.css');
@import url('./css/scrollToTop.css');
@import url('./css/loader.css');
@import url('./css/flex-markup.css');
@import url('./css/modal-recipe.css');
@import url('./css/dark-theme.css');
@import url('./css/theme-switcher.css');

.container {
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

body {
  background-color: var(--secondary-color);
}
